NODE_ENV=prod

TZ=UTC

APP_PORT=5020
APP_NAME="Ventures API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
APP_DOCS_API_NAME=docs
APP_DOCS_USER=hoadm
APP_DOCS_PASSWORD=ZJQvA5esg8Zs5XcswQyAjbYKkqTpwUSMwsgdFACY25D2dKRJntpdPrJ46JuDQgwD
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

DATABASE_TYPE=postgres
DATABASE_HOST=db-devtest-pg.metatech.xyz
DATABASE_PORT=5432
DATABASE_USERNAME=dev
DATABASE_PASSWORD=
DATABASE_NAME=nextfi_ventures_dev
DATABASE_SCHEMA=dbo
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=no_reply@eigroup.vn
MAIL_PASSWORD=pitw uokk oqkr qreu
MAIL_IGNORE_TLS=false
MAIL_SECURE=
MAIL_REQUIRE_TLS=true
MAIL_DEFAULT_EMAIL=no_reply@eigroup.vn
MAIL_DEFAULT_NAME=

FILE_DRIVER=local
FILE_MAX_SIZE=10M

ADMIN_AUTH_JWT_SECRET=admin
ADMIN_AUTH_JWT_TOKEN_EXPIRES_IN=24h

INVESTOR_AUTH_JWT_SECRET=investor
INVESTOR_AUTH_JWT_TOKEN_EXPIRES_IN=24h

IS_VALIDATE_PERMISSION=true